@import '../../theme/commons';


.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter_chip__selected {
    background-color: $primary_color;
    color: white;
}





.cart_empty {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.food_details {
    padding: 0 16px;
}


.food_details__image_holder_center {
    position: relative;
    display: flex;
    justify-content: center;

    // width: 100%;
    // background-color: yellowgreen;
}
.food_details__image_holder {
    height: 200px;
    width: 200px;
    border-radius: 50%;

    overflow: hidden;
}

.food_details__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;

    transition: 300ms;
}

.food_details__image_holder:hover .food_details__image {
    transform: rotateZ(20deg) scale(1.2);
}


.food_details__name {
    color: $primary_color;
    font-family: 'Wendy One';
    text-align: center;
}

.food_details__name_2 {
    margin-left: 4px;
    color: $secondary_color;
}

.food_details__type {
    display: flex;
    justify-content: center;
}


.quantity_button {
    color: white;
    background-color: $tertiary_color;
    padding: 8px;
    max-width: 36px;
    max-height: 32px;
    border-radius: 6px;
}

.food_details__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.food_details__quantity__buttons {
    display: flex;
    align-items: center;
}